<div class="route-creator-container">
  <div class="header">
    <h1 class="title">
      {{ vehicle?.route ? 'View Route' : 'Create Route' }} - Vehicle {{ vehicle?.licensePlate }}
    </h1>
    <div class="actions">
      <button class="btn btn-secondary" (click)="goBack()">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
        Back
      </button>
      <button class="btn btn-danger" (click)="clearRoute()" *ngIf="waypoints.length > 0">
        <fa-icon [icon]="faTrash"></fa-icon>
        Clear Route
      </button>
      <button class="btn btn-primary" (click)="saveRoute()" [disabled]="waypoints.length < 2">
        <fa-icon [icon]="faSave"></fa-icon>
        Save Route
      </button>
    </div>
  </div>

  <div class="instructions" *ngIf="!vehicle?.route">
    <p>Click on the map to add waypoints for the route.</p>
    <p>Add at least 2 points to create a valid route.</p>
  </div>

  <div #mapContainer class="map-container"></div>
</div>
