@page
@model WasteWatchAuth.Areas.Identity.Pages.Account.ResetPasswordModel
@{
}
<h2>Reset Password</h2>

<form method="post">
	<input type="hidden" asp-for="Input.Email" />
	<input type="hidden" asp-for="Input.Token" />

	<div>
		<label>Nova Password</label>
		<input asp-for="Input.NewPassword" type="password" required />
	</div>

	<div>
		<label>Confirmar Password</label>
		<input asp-for="Input.ConfirmPassword" type="password" required />
	</div>

	<button type="submit">Redefinir Password</button>
</form>